body {
  background-color: #262626;
  color: #f3ecec;
}

#title {
  color: #f3ecec;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 60px;
}

#text-area-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 650;
  font-size: 35px;
  color: #f3ecec;
}

.form-control,
.preview {
  padding: 8px;
  background-color: #5e5e5e;
  color: #f3ecec;
  font-size: 130%;
  min-height: 75vh;
  box-shadow: 5px 5px #353535;
}

img:active {
  transform: scale(8);
  /* height: 100%; */
}

.literal-block {
  background-color: rgb(58, 57, 57);
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}

.system-message {
  border-radius: 10px;
  padding: 5px;
  background-color: #e97171;
  border: inset 3px #ffcb8e;
}

.nav-link {
  font-weight: bolder;
}
#invisible {
  background-color: #262626;
}
